#welcome-container {
    background-image: url("../assets/backgrounds/hands.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    #welcome {
        min-height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px 20px;
        position: relative;
        transition: 1s;
        z-index: 2;

        &.loaded {
            top: 0;
        }

        &.loading {
            top: -150vh;
        }

        #card-container {
            height: 450px;
            width: calc(450px * (350 / 600));
            background-color: white;
            display: flex;
            flex-direction: column;
            margin: auto;
            padding: 10px;
            position: relative;
            transform-style: preserve-3d;
            transition: 1s ease-out;

            &.flipped {
                transform: rotateY(180deg);
            }

            &,
            #backside {
                border-radius: 20px;
            }

            &,
            #backside,
            #card-image #overlay {
                border: 1.5px solid #6895bc;
                box-sizing: border-box;
            }

            #backside,
            #card-image {
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                flex: none;
                position: relative;
                left: 0;
            }

            #backside,
            #card-image #overlay {
                border-radius: 10px;
            }

            #backside {
                background-color: rgb(216, 236, 255);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                padding: 10px;
                transform: rotateY(180deg) translateZ(1px);
                top: -100%;

                h1 {
                    color: #0960ac;
                    font-family: "IM Fell French Canon SC", serif;
                    margin: 0 0 20%;
                    text-align: center;
                    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
                    -webkit-text-stroke: 0.25px black;

                    span {
                        display: block;

                        &:first-child {
                            font-size: calc(450px / 10.5);
                        }

                        &:last-child {
                            font-size: calc(450px / 13);
                            line-height: calc(450px / 13);
                        }
                    }
                }

                a {
                    width: 85%;
                    display: inline-block;

                    button {
                        height: 50px;
                        background-color: #0960ac;
                        border-radius: 10px;
                        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                        color: #d8ecff;
                        font-family: Inter, sans-serif;
                        font-size: 20px;

                        &:hover {
                            background-color: #333;
                        }
                    }
                }
            }

            #card-image {
                img,
                #overlay {
                    height: 100%;
                    width: 100%;
                }

                img {
                    border-radius: 10px;
                    box-sizing: border-box;
                    filter: grayscale(1) contrast(1) brightness(1.2);
                    padding: 10px;
                    position: relative;
                }

                #overlay {
                    background-color: rgba(103, 181, 249, 0.25);
                    position: absolute;
                    top: 0;
                }
            }
        }
    }
}
